body{
    background: #EFEFF2;
    margin: 0;
    color: #000;
    font: 400 18px/28px Inter,sans-serif;
}
.container{
    padding: 0 15px;
    width: 1440px;
    margin: 0 auto;
}
.header{
    display: flex;
    padding: 36px 0 0;
    margin: 0 auto    ;
    justify-content: space-between;
}
.header__box{
    display: flex;
    align-items: center;
    gap: 68px;
}
.nav__list{
    display: flex;
    list-style: none;
    gap: 48px;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}
.link{
    color: #19191c;
    text-decoration: none;
}
.btn-box{
    display: flex;
    gap: 48px;
    align-items: center;
}
.logo{
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    gap: 14px;
    color: #19191c;
    text-decoration: none;
}
.header__link{
    color: #19191c;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    text-decoration: none;
}
.header__btn{
    background: #19191c;
    color: #EFEFF2;
    padding: 12px 37px;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}
.offer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 0 230px;
    background: url("img/courses.png") 100% 100% no-repeat;
}
.offer::after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 113px;
    z-index: -1;
    background: url("img/Rectangle 107.png") no-repeat;
}
.offer__holder{
    width: 648px;
    padding: 80px;
    background: url("img/Ellipse 20.png") 100% 100% no-repeat;
}
.offer__link{
    font-weight: 700;
    text-decoration: none;
    color: #504DEE;
}
.offer__title{
    font-size: 58px;
    line-height: 70px;
    font-weight: 700;
    margin: 0 0 18px;
}
.offer__description{
    font-size: 18px;
    line-height: 20px;
    margin: 0 0 62px;
}
.button{
    background: #504DEE;
    color: #FBFBFC;
    border: none;
    padding: 16px 37px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    margin: 0 0 110px;
}
.offer__sale{
    font-weight: 700;
    font-size: 58px;
    line-height: 70px;
    margin: 0;
}
.offer__time{
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    margin: 0;
}
.offer__list{
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    position: relative;
}
.offer__item{
    position: absolute;
    border: 2px solid #19191c;
    padding: 16px 36px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}
.offer__Marketer{
    top: 150px;
    right: 20px;
}
.offer__Illustrator{
    top: -20px;
    right: 300px;
}
.offer__Animator{
    top: 80px;
    left: -80px;
}
.offer__Programmer{
    top: 300px;
    left: -220px;
}
.offer__Designer{
    top: 500px;
    left: -400px;
}
.offer__Photographer{
    top: 650px;
    left: -280px;
}
.learn{
    background: #19191c;
    color: #FBFBFC;
    padding: 168px 0 0;
}
.learn_container{
    display: flex;
    justify-content: space-between;
}
.learn__text{
    width: 588px;
}
.learn__title{
    font-size: 1en;
    line-height: 70px;
    margin: 0 0 28px;
}
.learn__counter-number{
    font-size: 58px;
    line-height: 78px;
    font-weight: 700;
}
.learn__counters{
    display: flex;
    gap: 86px;
}

.learn_container{
    padding: 0 20px ;
}
.learn__counter-number{
    margin: 0 0 10px;
}
.learn__description{
    font-size: 0.25en;
}
.learn__text{
    font-size: 1en;
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
    .learn__counters{
        display: flex;
        gap: 86px;
    }

}
@media  screen and (max-width: 1439px){
    .learn__counter-item{
       flex:1 1 100%;
   }

   .learn__counters{
       flex-wrap: wrap;
   }
   .learn__counter-number{
       margin: 18px 0;
   }
   .learn__text{
       width: auto;
   }
}

